{% load staticfiles %}
{% load filter_tags %}

<!DOCTYPE html>
<html>
	<head>
		<title>SYNMORF</title>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/datatables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
		<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">
		<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/datatables.min.css"/>
		<link rel="stylesheet" href="{% static '/website/style.css' %}">
	</head>

	<body>
		<div class="page-header">
			<h1><a href="/">SYNMORF</a></h1>
		</div>
		<div class="content container">
			<div class="row">
				<div class="container-fluid">
					{% block content %}


					<!-- siia index andmed-->


					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>

<script>

// #cancer



	tabel=$('#myTable').DataTable( {
				dom: 'Bfrtip',
				buttons: [ 
					'CSV', 'PDF', 'EXCEL'
				]
			});
			
	tabel.page.len( -1 ).draw();
	
	tabel=$('#myTable2').DataTable(	dom: 'Bfrtip',buttons: ['CSV', 'PDF', 'EXCEL']);
			
	tabel.page.len( -1 ).draw();
	tabel=$('#myTable3').DataTable(	dom: 'Bfrtip',buttons: [ 'CSV', 'PDF', 'EXCEL'],'ordering':false,'columns.orderable': false);
	tabel.page.len( -1 ).draw();


	
    var form = document.getElementsByTagName("form");
    form.onsubmit = function () {
        form.reset();
    };


jQuery(document).ready(function($) {
	
    $(".clickable-row").each(function(){
		$(this).click(function(){
			window.open ( $(this).data("href"));
			$(this).css('background-color', 'pink');

		});
	});
    });
</script>

