{% load staticfiles %}
{% load filter_tags %}

<!DOCTYPE html>
<html>
	<head>
		<title>SYNMORF</title>
		<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/datatables.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

		<link rel="stylesheet" href="{% static '/website/style.css' %}">
	</head>

	<body>
		<div class="page-header">
			<h1><a href="/">SYNMORF</a></h1>
		</div>
		<div class="content container">
			<div class="row">
				<div class="container-fluid">
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>

<script>

// #cancer
	lemmaTabel=$('#myTable').DataTable();
	lemmaTabel.page.len( -1 ).draw();
	tabel=$('#myTable2').DataTable();
	tabel.page.len( -1 ).draw();
	tabel=$('#myTable3').DataTable({  
	'ordering':false,
    'columns.orderable': false })
	tabel.page.len( -1 ).draw();

	





    var form = document.getElementsByTagName("form");
    form.onsubmit = function () {
        form.reset();
    };

jQuery(document).ready(function ($) {

        $(".clickable-row").each(function () {
            $(this).click(function () {
                var value = $(this).attr('id');
				lemmaTabel.search(value).draw();
				//window.open($(this).data("href"));
                $(this).css('background-color', 'pink');
            });
        });
    });

</script>

