{% extends 'website/base.html' %}
{% load staticfiles %}

<!-- Tegemist on puhta html koodiga, mis Django raamistiku töttu lubab {} sees kasutada Pythoni koodi 'template tag' kasutades.
<!-- Loogsulud protsentidega tähistab et tegemist on Pythoni keele võtmesõnaga. -->
<!-- Topeltloogsulud. tähistab Pythoni muutujat, mida me t012loputoo/website/views.py muudame selles failis arusaadavaks.
<!-- Staticfails laeb sisse eraldi kausta mille sees on kõik pildid, javascript failid jne.


<!-- Kõik mis on block content ja endblock tagi vahel, lisatakse base.html sisse kus on samuti block ja endblock tagid. -->
<!-- Sarnane veebirakenduste kursuses html laiendamisega extend'i kasutades. -->
<!-- form.as_p trükib formi input elemendid paragraafidena välja -->
<!-- csrf_token kaitseb väliste rünnakute eest, Django ei luba forme kasutada ilma nendeta, turvameetmete tõttu. -->
{% block content %}
	<div>
	<h1>Sisestage algtekst</h1>
	<form method="POST" class="post-form">{% csrf_token %} 
		{{ form.as_p }} 
		<button type="submit" class="save btn btn-default">Saada</button>
	</form>
	<div>
	
	<!-- Kontrollib, kas form on saadetud ja et backendis oleksid andmed olemas.  -->
	{% if word_texts %}
		
		<h1>Enimkasutatud Sonad</h1>
		<div class="table-container">
			<table class="table table-striped" id="myTable">
				<thead>
					<tr>
						<th>#</th>
						<th>Sonad</th>
						<th>Kogus</th>
					</tr>
				</thead>
				<tbody>
				
					<!-- Võtab sisse lemmade listi ja kirjutab välja iga for tsükkliga tabeli rea. -->
					<!-- Kuna lemma on list, siis selle elementide indekseerimine käib punkti abil. vt rida 30/31. -->
					<!-- Muutuja lemmas on kujul [['lemma', esinemissagedus], ['lemma2', esinemissagedus2], ['lemma3', esinemissagedus3]] -->
					<!-- Muutuja lemma on kujul ['lemma', esinemissagedus] --> 
					{% for word in word_texts %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ word.0 }}</td>
							<td>{{ word.1 }}</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>

		<h1>Graafid</h1>
		<!--<div class="table-container">
			<table class="table table-striped" id="myTable2">
				<thead>
					<tr>
						<th>#</th>
						<th>Tähejäriend</th>
						<th>Kogus</th>
					</tr>
				</thead>
				<tbody>
					<!-- Forloop counter loeb üle mitu korda for loop on oma tsükklit teinud -->
					<!-- Lisatud selle jaoks, et näha kui mitmendal kohal sageduse poolest see esineb.-->
<!--					{% for letter in letters %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ letter.0 }}</td>
							<td>{{ letter.1 }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>     			   				-->
	
	
		   <!-- line chart canvas element -->
     <!--   <canvas id="sonad" style="position: relative; height:40vh; width:80vw">
        </canvas>
      -->
    <!--    <script>

            {% for word in word_texts %}
		       
            // line chart data
            var sonadData = {
                labels : ["{{  word.0 }}"],
                datasets : [
                {

                    fillColor : "rgba(172,194,132,0.4)",
                    strokeColor : "#ACC26D",
                    pointColor : "#fff",
                    pointStrokeColor : "#9DB86D",
                    data :  ["{{word.1}}"]

                }
            ]

            }
            document.write("{{word.0}}")
            // get line chart canvas
            var sonad = document.getElementById('sonad').getContext('2d');
            
            // draw line chart
            new Chart(sonad).Bar(sonadData);
            //---------------------//
            {% endfor %}  -->
 
       <!-- </script> -->
	

    
        <canvas id="sonad2" style="position: relative; height:40vh; width:100vw">            
        </canvas>


     
        <script>

                var words = {{massiiv|safe}};
                
            	//{% for i in massiiv %} //words.push(i); //{% endfor %}

                data = ["77", "55", "33", "33", "33","22", "22", "22", "22", "11","11", "11", "11", "11", "11","11", "11", "11", "9", "9", "9", "9", "9", "9", "44", "21", "57", "44", "48","22","25", "55", "44", "21", "65","25", "55", "44", "21", "65","25", "55", "44", "21", "65","25", "55", "44", "21", "12", "55", "25", "21", "35", "44", "21", "57", "44", "48","22","25", "55", "44", "21", "65","25", "55", "44", "21", "65","25", "55", "44", "21", "65","25", "55", "44", "21", "12", "55", "25", "21", "35", "44", "21", "57", "44", "48","22","25", "55", "44", "21", "65","25", "55", "44", "21", "65","25", "55", "44", "21", "65","25", "55", "44", "21", "12", "55", "25", "21", "35", "44", "21", "57", "44", "48","22"];
                labels = words;
                
            // line chart data
            var sonad2Data = {
                labels : labels,
                datasets : [
                {

                    fillColor : "rgba(172,194,132,0.4)",
                    strokeColor : "#ACC26D",
                    pointColor : "#fff",
                    pointStrokeColor : "#9DB86D",
                    data : data
                    
                }
            ]
            }

            document.write("...")
            // get line chart canvas

            var sonad2 = document.getElementById('sonad2').getContext('2d');
            // draw line chart
            new Chart(sonad2).Bar(sonad2Data);
            //---------------------//
          	

        </script>
        




    {% endif %}
{% endblock %}

